<ion-header>
  <ion-toolbar>
    <ion-title>insert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
    
        <ion-col size="12">
          <div>
            <ion-item>
              <ion-label>Email:</ion-label>
              <ion-input name="email" [(ngModel)]="email"></ion-input>
            </ion-item>
            </div>
            </ion-col>
         
    
        <ion-col size="12">
          <div>
            <ion-item>
              <ion-label>Senha:</ion-label>
              <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
            </ion-item>
          </div>
        </ion-col>
         
<ion-button class="custom-button" (click)="insertUser()" size="large" color="primary">Cadastro</ion-button>

        </ion-row>
      </ion-grid>
    </form>
     
</ion-content>
