<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row class="ion-justify-content-center">

    <ion-col size="12">
      <div>
        <ion-item>
          <ion-label>Login:</ion-label>
          <ion-input name="email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>
    </ion-col>

    <ion-col size="12">
      <div>
        <ion-item>
          <ion-label>Senha:</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </div>
    </ion-col>

    <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-align-items-center">
      <div>
  <ion-button class="custom-button" (click)="loginUser()" size="large" color="primary">
          Login
        </ion-button>
      </div>
    </ion-col>
    </ion-row>
  </ion-row>
</ion-grid>


</ion-content>
